<div class="listing-cards-title separator mb-4">
    <h1 class="mx-4">{{ title }}</h1>
</div>

<div id="card-container">
    {% for listing in listings %}
    <div class="w3-card-4 ">
        <a href="{% url 'view_listing' listing_id=listing.id %}">
            <div class="w3-display-container w3-text-white">
                <img src="{% if not listing.image %}{{ default_image }}{% else %}{{ listing.image.url }}{% endif %}"
                    style="width:100%;height: 220px">
                <div class="w3-xlarge w3-display-bottomleft w3-padding">
                    <h5 class="card-title text-white">{{ listing.category }}</h5>
                </div>
                <div class="w3-display-topright w3-container w3-padding-16 w3-green">
                    {% if not listing.active %}
                    <div class="text-center">
                        {% if listing.completed %}
                        <span>Sold!</span>
                        {% else %}
                        <span>Canceled</span>
                        {% endif %}
                    </div>
                    {% else %}
                    <span>Active!</span>
                    {% endif %}
                </div>

            </div>
            <div class="w3-container ">
                <hr>
                <p>{{ listing.title }}</p>
                <p>{{ listing.description }}</p>
                <p>{{ listing.price }} MZN</p>
                <div class="">
                    <span><i class="bi bi-eye-fill"></i> {{ listing.watchers.count }}</span>
                    <span class="ps-3"><i class="bi bi-chat-left-fill"></i> {{ listing.comments.count }}</span>
                    <span class="ps-3"><i class=" bi bi-cash-coin"></i> {{ listing.bids.count }}</span>
                </div>
            </div>
        </a>

    </div>
    {% empty %}

    {% endfor %}
</div>