{% extends "auctions/layout.html" %}

{% block title %}Register{% endblock %}

{% block body %}

<div id="registerForm" class="m-auto w-100 p-4 border rounded text-center">
    <h2 class="mb-5">Let's get started!</h2>

    {% if message %}
    <div>{{ message }}</div>
    {% endif %}

    <form class="mt-6 mb-8" action="{% url 'register' %}" method="post">
        {% csrf_token %}
        <div class="form-floating mb-2">
            <input class="form-control" type="text" required id="formUsername" name="username" placeholder="Username">
            <label for="formUsername">Username</label>
        </div>
        <div class="form-floating mb-2">
            <input class="form-control" type="email" required id="formEmail" name="email" placeholder="Email Address">
            <label for="formEmail">Email Address</label>
        </div>
        <div class="row g-2 mb-4">
            <div class="form-floating col-md-6">
                <input class="form-control" type="text" required id="formFirstName" name="first_name"
                    placeholder="First Name">
                <label for="formFirstName">First Name</label>
            </div>
            <div class="form-floating col-md-6">
                <input class="form-control" type="text" required id="formLastName" name="last_name"
                    placeholder="Last Name">
                <label for="formLastName">Last Name</label>
            </div>
        </div>
        <div class="form-floating mb-2">
            <input class="form-control" type="tel" required id="formContact" name="contact"
                placeholder="Contact Number">
            <label for="formContact">Contact Number</label>
        </div>
        <div class="row g-2 mb-4">
            <div class="form-floating col-md-8">
                <input class="form-control" type="text" required id="formAddress" name="address" placeholder="Address">
                <label for="formAddress">Address</label>
            </div>
            <div class="form-floating col-md-4">
                <input class="form-control" type="text" required id="formPostalCode" name="postal_code"
                    placeholder="Postal Code">
                <label for="formPostalCode">Postal Code</label>
            </div>
        </div>
        <div class="row g-2 mb-4">
            <div class="form-floating col-md-6">
                <input class=" form-control" type="password" required id="formPassword" name="password"
                    placeholder="Password">
                <label for="formPassword">Password</label>
            </div>
            <div class="form-floating col-md-6">
                <input class="form-control" type="password" required id="formConfirmation" name="confirmation"
                    placeholder="Confirm Password">
                <label for="formConfirmation">Confirm Password</label>
            </div>
        </div>
        <input class="btn btn-primary w-100" type="submit" value="Register">
    </form>

    Already have an account? <a href="{% url 'login' %}">Log In here.</a>
</div>

{% endblock %}